tqdm
opencv-python
numpy
pandas
# sklearn
scikit-learn
scikit-image
matplotlib
requests
tensorboard
click
jupyter
shapely
scipy
Flask
multipledispatch
flask-cors
cuda-python
numba
pyopencl
pymongo
torch
torchvision